.btn {
    font-size: 14px;
    font-weight: 700;
    font-family: open sans, sans-serif;
    line-height: 1.1;
    letter-spacing: .03em;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    padding: 12px 20px;
    margin: 0;
    border: none;
    background-image: none;
}

.btn-lg {
    font-size: 15px;
    padding: 15px 20px;
    min-width: 130px;
}

.btn-border {
    color: #3d4451 !important;
    border: 1px solid #cbcdcf;
    background: transparent;
    box-shadow: none;
}

.btn-primary {
    color: #fff !important;
}

.btn-primary {
    background-color: #e8676b;
}